@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 767px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

h1 {
  font-weight: 800;
}

/* Top section main content starts  */

.top-side-backround img {
  width: 100%;
  height: 510px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

.top-sede-main-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 140px 0 0 40px;
  height: 735px;
}

.top-section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22.27px;
}

.top-section-main h1 {
  color: var(--Black, #222);
  font-size: 66.06px;
  font-weight: 800;
  line-height: 82.58px;
  letter-spacing: 0.1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-section-main h1 span {
  background: linear-gradient(45deg, #81d4e2, #00a6c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: max-content;
  font-size: 90.84px;
  line-height: 113.55px;
  letter-spacing: 0.05em;
  text-align: center;
}

.top-section-main .top-text {
  width: 100%;
  padding: 1.21px 4.86px 2.43px 4.86px;
  background: #00a6c3;
  font-size: 24.77px;
  font-weight: 700;
  line-height: 37.16px;
  text-align: center;
  color: #fff;
}

.top-section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 8.404px;
  background: #06c755;
  box-shadow: 0px 0px 16.808px 0px rgba(0, 0, 0, 0.3);
  min-width: fit-content;
}

.top-section-link-2 {
  display: none;
}

.line-app-svg svg {
  width: 56.93px;
  height: 56.93px;
}

.icon-next {
  width: 30.02px;
  height: 17.6px;
}

.icon-next svg {
  width: 30.02px;
  height: 17.6px;
  fill: var(--main_white, #fff);
}

.top-section-link p {
  display: flex;
  flex-direction: column;
  color: var(--main_white, #fff);
  text-align: center;
  font-size: 31.75px;
  font-style: normal;
  font-weight: 800;
  line-height: 10.35px;
  min-width: fit-content;
}

.top-image-section {
  position: relative;
  top: 0;
  left: 74.32px;
  height: 100%;
}

.top-image-section img {
  position: relative;
  z-index: -1;
  width: auto;
  max-height: 636.86px;
}

.top-image-section img:nth-of-type(2) {
  display: none;
}

@media (max-width: 1300px) {
  .top-sede-main-box {
    flex-direction: column;
    height: unset;
    padding: 100px 0 0 0;
    gap: 32px;
  }
  .top-image-section {
    left: 0;
  }
  .top-image-section img:nth-of-type(2) {
    display: flex;
    margin: 0 auto;
  }
  .top-image-section img:nth-of-type(1) {
    display: none;
  }
  .top-image-section img {
    max-height: 565px;
  }
  .top-side-backround img {
    width: 100vw;
    height: 1106.56px;
  }
  .top-section-main h1 {
    font-size: 82.91px;
    font-weight: 800;
    line-height: 103.63px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .top-section-main h1 span {
    font-size: 95.34px;
    font-weight: 800;
    line-height: 119.18px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .top-section-main .top-text {
    font-size: 26.94px;
    font-weight: 700;
    line-height: 40.42px;
    text-align: center;
  }
  .top-section-link {
    display: inline-flex;
    padding: 27.539px 51.635px;
    align-items: center;
    gap: 27.539px;
  }
  .top-section-link-1 {
    display: none;
  }
  .line-app-svg svg {
    width: 59px;
    height: 60px;
  }
  .top-section-link p {
    font-size: 48px;
    font-weight: 800;
    line-height: 22.4px;
    text-align: left;
  }
  .icon-next svg {
    width: 41.94px;
    height: 25.59px;
  }
}

@media (max-width: 767px) {
  .top-sede-main-box {
    padding: 70px 0 0 0;
    align-items: flex-start;
    max-width: 400px;
    gap: 16.43px;
  }
  .top-image-section {
    left: 50%;
    transform: translateX(-50%);
  }
  .top-image-section img {
    max-height: 300px;
  }
  .top-side-backround img {
    width: 100vw;
    height: 494px;
  }
  .top-section-main {
    padding: 0 20px;
    width: 100%;
    gap: 14.02px;
  }

  .top-section-main h1 {
    font-size: 46.72px;
    font-weight: 800;
    line-height: 58.4px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .top-section-main h1 span {
    font-size: 53.73px;
    font-weight: 800;
    line-height: 67.16px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .top-section-main .top-text {
    font-size: 15.18px;
    font-weight: 700;
    line-height: 22.77px;
    text-align: center;
  }

  .top-section-main .top-image {
    width: 251.71px;
    height: 98.25px;
  }

  .top-section-link {
    width: 100%;
    padding: 20px;
    max-width: 300px;
    gap: 5px;
    justify-content: space-around;
  }
  .line-app-svg svg {
    height: 100%;
    width: 100%;
    max-width: 33px;
    max-height: 33px;
    min-width: 30px;
  }
  .top-section-link p {
    font-size: 20px;
  }
  .icon-next {
    width: auto;
    height: auto;
  }
  .icon-next svg {
    width: 18.72px;
    height: 11.42px;
  }
}

/* Top section main content ends */

/* Logo slider starts */

.logo-slider {
  overflow: hidden;
  width: 100%;
  display: flex;
  padding: 100px 30px;
  align-items: center;
  align-self: stretch;
  height: 265px;
}

.logos {
  display: flex;
  width: 100%;
  animation: slide 30s linear infinite;
}

.logo-slide {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  padding-right: 20.21px;
}

.logo-slide img {
  max-width: 120px;
  height: auto;
  display: block;
  margin: auto 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .logo-slider {
    display: flex;
    margin-top: 30px;
    padding: 40px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    height: 124px;
  }
  .logos {
    gap: 10px;
    display: flex;
  }
  .logo-slide {
    padding-right: 14px;
  }
  .logo-slide img {
    max-width: 84px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .logo-slide {
    padding-right: 14px;
  }
}

/* Logo slider ends */

/* section 2 coding start  */

.section2-main-box {
  display: flex;
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(191, 233, 240, 0) 0%,
    #bfe9f0 12.95%,
    #bfe9f0 61.5%,
    rgba(191, 233, 240, 0) 100%
  );
}

.section2-main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 120px;
  padding: 0 40px;
  width: 100%;
}

.s2-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.title h1 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.title span {
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, #3abad1 26%, #f9f7e6 90%);
}

.s2-ul-box {
  display: flex;
  padding: 40px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.s2-text-box .s2-ul-item {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.s2-text-box .s2-ul-item svg circle {
  width: max-content;
  height: 12px;
  fill: var(--_C_base01, #00a6c3);
}

.s2-text-box .s2-ul-item p {
  position: relative;
  color: var(--Black, #222);
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  width: 100%;
}

.s2-ul-item p span {
  color: #00a6c3;
}

.section2-main img {
  /* width: 100%; */
  height: auto;
  max-height: 500px;
}

.section3-main .title br {
  display: none;
}

@media (max-width: 1200px) {
  .section2-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    width: 100%;
  }
  .s2-text-box {
    align-items: center;
    gap: 32px;
    width: 100%;
  }
  .title {
    gap: 24px;
    align-items: center;
  }
  .s2-ul-box {
    display: flex;
    padding: var(--Spacing-S, 24px) 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .s2-text-box .s2-ul-item p {
    font-size: 20px;
  }
  .section2-main img {
    max-height: 450px;
  }
}

@media (max-width: 767px) {
  .section2-main-box {
    padding: 80px 20px;
  }
  .s2-text-box {
    gap: 20px;
  }
  .title {
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .title h1 {
    font-size: 24px;
  }
  .title span {
    width: 80px;
    height: 2px;
  }
  .s2-ul-box {
    padding: 20px;
  }
  .s2-text-box .s2-ul-item {
    align-items: flex-start;
  }
  .s2-text-box .s2-ul-item p {
    font-size: 16px;
  }
  .section2-main img {
    max-height: 280px;
  }
  .s2-text-box .s2-ul-item svg {
    margin-top: 5px;
  }
  .section3-main .title br {
    display: block;
  }
}

/* section 2 coding end  */

/* section 3 coding start */

.section3-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 40px 100px 40px;
  gap: 70px;
}

.section3-main .title {
  align-items: center;
}

.section3-main .title .new-line {
  color: #00a6c3;
  margin-top: -30px;
}

.s3-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-S, 24px);
  align-self: stretch;
}

.card-s3 {
  width: 33.33%;
  position: relative;
  display: flex;
  padding-bottom: 25px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--main_white, #fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}

.card-s3 span {
  position: absolute;
  left: 16px;
  top: -46px;
  color: var(--_C_base02, #80d3e1);
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.card-s3 img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-s3 .s3-text-box {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.card-s3 .s3-text-box h1 {
  color: #00a6c3;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  padding-top: 40px;
}

.card-s3 .s3-text-box h1 span {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #222;
  position: static;
}

.card-s3 .s3-text-box p {
  color: var(--Black, #222);
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

@media (max-width: 1200px) {
  .section3-main {
    padding: 0px 20px 40px 20px;
    gap: 50px;
  }
  .s3-content {
    flex-direction: column;
    gap: 60px;
  }
  .card-s3 {
    width: 100%;
  }
  .card-s3 .s3-text-box {
    padding: 0px var(--Spacing-S, 24px);
  }
  .card-s3 img {
    max-height: 330px;
  }
}

@media (max-width: 767px) {
  .card-s3 img {
    max-height: 250px;
  }
}

/* section 3 coding end */

/* section 4 table coding start  */

.section4-main-box {
  position: relative;
  overflow: hidden;
}

.elips-right-s4 {
  position: absolute;
  top: 0;
  right: 0;
}

.elips-right-s4 img {
  width: 100%;
}

.elips-left-s4 {
  position: absolute;
  left: 0;
  bottom: -10px;
}

.section4-table-main {
  display: flex;
  padding: 60px 40px 100px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
  gap: 30px;
}

.section4-table-main .title {
  align-items: center;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.42fr 1fr;
  padding: 20px 0 0 0;
  align-items: end;
}

.grid-header {
  display: flex;
  align-items: flex-end;
}

.grid-header br {
  display: none;
}

.grid-header h1 {
  width: 100%;
  display: flex;
  height: 64px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--main_white, #fff);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background: #24626d;
}

.grid-item {
  display: flex;
  height: 95px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid #ddd;
  background: var(--main_white, #fff);
  position: relative;
}

.large {
  color: var(--_C_base01, #50b498);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  border: none;
  border-right: 4px solid #80d3e1;
  border-left: 4px solid #00a6c3;
  background: var(--main_white, #fff);
  display: flex;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  position: relative;
}


.large::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(55.37deg, #00a6c3 20.66%, #80d3e1 79.81%);

  z-index: 1;
}
.large_bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(55.37deg, #00a6c3 20.66%, #80d3e1 79.81%);

  z-index: 1;
}
.grid-item-last:after {
  height: 4px;
  background: linear-gradient(90deg, #50b498 26%, #def9c4);
}

.large-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, #50b498 26%, #def9c4 90%);
  z-index: 1;
}

.grid-item p {
  position: relative;
  z-index: 99999;
  color: #222222;
}

.large p span {
  color: #00a6c3;
}

.grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the image */
  width: 50px;
  height: 50px;
}

.large-header {
  height: 86px;
  color: var(--main_white, #fff);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  padding: 25px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(55.37deg, #00a6c3 20.66%, #80d3e1 79.81%);
}

@media (max-width: 1200px) {
  .elips-right-s4 {
    width: 300.442px;
    height: 300.442px;
  }
  .section4-table-main {
    padding: 100px 0;
  }
  .section4-main-box {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .elips-left-s4 {
    display: none;
  }
  .elips-right-s4 {
    width: 251px;
    height: 251px;
    top: 50px;
    right: -100px;
    transform: rotate(43deg);
  }
  .section4-table-main {
    padding: 80px 0 40px 0;
  }
  .grid-header h1 {
    height: 62px;
    padding: 10px;
    font-size: 14px;
  }
  .grid-item {
    height: auto;
    font-size: 13px;
    padding: 15px 4px;
  }
  .large {
    font-size: 14px;
  }
  .grid-item img {
    width: 40px;
    height: 40px;
  }
  .large-header {
    height: 80px;
    font-size: 16px;
    padding: 20px 10px;
  }
  .grid-item p span {
    font-size: 10px;
  }
  .grid-header br {
    display: flex;
  }
  .extra-p {
    padding: 28px 4px;
  }
}

/* section 4 table coding start  */

/* real estate steps start */

.vacancy-steps-main {
  width: 100%;
  padding: 80px 0px;
  background: linear-gradient(55.37deg, #00a6c3 20.66%, #80d3e1 79.81%);
}

.vacancy-steps {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.vacancy-steps .title {
  align-items: center;
  width: 100%;
}

.vacancy-steps .title h1 {
  color: var(--main_white, #fff);
}

.steps-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
  justify-content: center;
}

.step-container-mobile {
  display: none;
}

.step-container-desk {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.step {
  display: flex;
  padding: 30px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 288px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--main_white, #fff);
  max-width: 288px;
}

.step-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.step h3 {
  color: #00a6c3;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.step h4 {
  color: var(--Black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  min-width: max-content;
}

.step p {
  display: flex;
  color: var(--Black, #222);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  flex-direction: column;
  gap: 8px;
}

.step p span {
  font-size: 12px;
}

.step img {
  width: 100%;
  height: auto;
  border-radius: 7.742px;
  background: var(--_C_base05, #f2fde7);
}

.step-title {
  width: 100%;
  text-align: center;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

@media (max-width: 1300px) {
  .vacancy-steps-main {
    padding: 100px 0px;
  }
  .vacancy-steps {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 50px;
    max-width: 1280px;
    margin: 0 auto;
  }
  .step-container-desk {
    display: none;
  }
  .step-container-mobile {
    display: flex;
  }
  .steps-container {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
  }
  .step-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    align-self: stretch;
  }
  .step {
    flex: 0 0 auto;
    max-width: unset;
    display: flex;
    width: 288px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-XS, 8px);
    align-self: stretch;
  }
  .step h4 {
    font-size: 18px;
    min-width: auto;
  }
  .step h3 {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .vacancy-steps-main {
    padding: 80px 0px;
  }
  .vacancy-steps {
    padding: 0px;
    gap: 35px;
  }
  .steps-container {
    overflow-x: auto;
    display: flex;
    padding: 0px 20px;
  }
  /* .steps-container .step:last-child {
    margin-right: 20px;
  }
  .steps-container .step:first-child {
    margin-left: 20px;
  } */
}

.steps-container::-webkit-scrollbar {
  display: none;
}

/* real estate steps ends */

/* Customer Reviews Section Start */

.customer-reviews {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  align-self: stretch;
  background: #e6f6f9;
  width: 100%;
}

.cr-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.customer-reviews .title {
  align-items: center;
}

.reviews-container {
  display: flex;
  gap: 16px;
  align-self: stretch;
  padding: 20px 40px;
}

.review-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 1 auto;
  width: 320px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--main_white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}

.review-card img {
  width: 100%;
  height: 230px;
  max-height: 230px;
  border-radius: 10px;
  background: #fdfffc;
  object-fit: cover;
  border-radius: 10px;
}

.rc-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XS, 8px);
  align-self: stretch;
}

.review-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XS, 8px);
  align-self: stretch;
}

.review-header h4 {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.review-header h4 p {
  color: #00a6c3;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.review-header h4 span {
  width: 1px;
  height: 12px;
  background: #ccc;
}

.review-header h2 {
  color: #00a6c3;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.tags p {
  background: #eff9fb;
  padding: 1px 8px 2px;
  border-radius: 3px;
  color: #00a6c3;
}

.tags span {
  color: #00a6c3;
}

.rc-contents > p {
  color: var(--Black, #222);
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 22.4px */
}

@media (max-width: 1200px) {
  .cr-contents {
    gap: 15px;
  }
  .reviews-container {
    overflow-x: auto;
    display: flex;
    gap: 16px;
    padding: 20px;
  }
  .review-card {
    flex: 0 0 auto;
    width: 320px;
    max-width: unset;
  }
  /* .reviews-container .review-card:last-child {
    margin-right: 20px;
  } */
}

@media (max-width: 767px) {
  .customer-reviews {
    padding: 50px 0px;
  }
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

/* Customer Reviews Section End */

/* FAQ section starts */

.faq-section-main {
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  align-self: stretch;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-S, 24px);
  align-self: stretch;
}

.faq-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--main_white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.question {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 14px;
}

.faq-texts-q {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.question span {
  color: var(--main_white, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  display: flex;
  width: 35px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #14adc8;
}

.question p {
  color: var(--Black, #222);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: auto 0;
}

.question svg {
  margin-right: 25px;
  width: 25px;
  height: 25px;
  transition: all 0.5s ease;
  transform-origin: right center;
  transform: rotate(180deg);
}

.answer {
  display: none;
  padding: 20px;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  border-radius: 20px;
  background: #e6f6f9;
}

.answer span {
  color: #14adc8;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  display: flex;
  width: 35px;
  height: 35px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #14adc8;
}

.answer p {
  color: var(--Black, #222);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: auto 0;
}

.faq-item.active .answer {
  display: flex;
}

.faq-item.active .question svg {
  margin-right: 10px;
  transform: rotate(0deg);
}

@media (max-width: 1200px) {
  .faq-section-main {
    display: flex;
    padding: 100px 20px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    align-self: stretch;
  }
  .question p {
    font-size: 16px;
  }
  .faq-item {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .faq-section-main {
    padding: 80px 20px 50px 20px;
    max-width: unset;
  }
  .question p {
    font-size: 16px;
  }
  .faq-item {
    padding: 15px;
  }
}

/* FAQ section end */

/* Footer start */

.footer-container {
}

.footert-top-box {
  display: flex;
  padding: 80px 20px 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #4dc1d5;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.footer-top {
  display: flex;
  position: relative;
  z-index: 99;
}

.f-elips-1 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: -52px;
  top: -113px;
  border-radius: 400px;
  border: 40px solid #1fb1ca;
  z-index: -1;
}

.f-elips-2 {
  width: 400px;
  height: 400px;
  position: absolute;
  right: -153px;
  bottom: 200px;
  border-radius: 400px;
  border: 40px solid #1fb1ca;
}

.f-elips-3 {
  display: none;
}

.f-elips-4 {
  display: none;
}

.footert-top-box h2 {
  color: var(--main_white, #fff);
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}

.footer-top {
  display: flex;
  max-width: 880px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-M, 48px);
  align-self: stretch;
}

.tect-section-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #fff;
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 79.57px;
}

.tect-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tect-section-title p {
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  color: #222222;
}

.tect-section-title svg {
  width: 96.69px;
  height: 96.69px;
}

.image-text {
  display: flex;
  align-items: center;
  gap: 0;
}

.link-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 38.4px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: -30px;
}

.footer-section-link {
  display: flex;
  padding: 13.615px 34.038px;
  justify-content: center;
  align-items: center;
  gap: 27.231px;
  border-radius: 7.152px;
  background: #06c755;
  box-shadow: 0px 0px 14.303px 0px rgba(0, 0, 0, 0.3);
  min-width: max-content;
}

.line-app-svg-f svg {
  width: 47px;
  height: 45px;
  fill: var(--main_white, #fff);
}

.icon-next-f {
  width: 27px;
  height: 18px;
}

.icon-next-f svg {
  width: 27px;
  height: 18px;
}

.footer-section-link p {
  display: flex;
  flex-direction: column;
  color: var(--main_white, #fff);
  font-size: 32px;
  font-weight: 800;
  line-height: 46.34px;
  text-align: center;
  min-width: fit-content;
  display: inline;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
}

.checked-item {
  display: flex;
  align-items: center;
  gap: 10.4px;
}

.checked-item p {
  font-size: 20px;
  font-weight: 600;
  line-height: 20.35px;
  text-align: left;
  color: #101c38;
}

.footer-top img {
  width: 467px;
  height: auto;
  margin-top: 38px;
}

.footer-middle {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #e6f6f9;
}

.footer-middle-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-middle-text h1 {
  color: var(--Black, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.footer-middle-text p {
  color: var(--Black, #222);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer-bottom {
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--main_white, #fff);
}

.footer-bottom a {
  color: #777;
  font-family: "Noto Sans JP";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-decoration-line: underline;
}

.footer-bottom p {
  color: #777;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.footer-mob {
  display: none;
}

@media (max-width: 1200px) {
  .footer-top {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }
  .f-elips-1 {
    width: 287px;
    height: 287px;
  }
  .f-elips-2 {
    top: 200px;
    left: 132px;
  }
  .f-elips-3 {
    display: block;
    width: 287px;
    height: 287px;
    position: absolute;
    left: -130px;
    bottom: 105px;
    border-radius: 400px;
    border: 30px solid var(--_C_base01, #00a6c3);
  }
  .f-elips-4 {
    display: block;
    width: 287px;
    height: 287px;
    position: absolute;
    left: 130px;
    bottom: -80px;
    border-radius: 400px;
    border: 30px solid var(--_C_base01, #00a6c3);
  }
  .footer-desk {
    display: none;
  }
  .footer-mob {
    display: block;
    width: 305px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  .footert-top-box h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    z-index: 1000;
    width: 479px;
  }
  .tect-section-f {
    padding: 48px 56px;
  }
  .tect-section-title p {
    font-size: 43.39px;
    font-weight: 800;
    line-height: 65.08px;
    text-align: left;
  }
  .tect-section-title svg {
    width: 97.56px;
    height: 97.56px;
  }
  .link-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .footer-section-link p {
    font-size: 24px;
    font-weight: 800;
    line-height: 34.75px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer-bottom {
    padding: var(--Spacing-S, 24px) 20px 20px 20px;
    gap: 4px;
  }
  .footer-top {
    display: flex;
    gap: 10px;
  }
  .footert-top-box h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
  }
  .footert-top-box h2 span {
    display: block;
  }
  .tect-section-f {
    padding: 32px 20px;
    gap: 20px;
  }
  .tect-section-f h2 {
    font-size: 18px;
  }
  .tect-section-title {
    gap: 0;
  }
  .tect-section-title p {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
  }
  .tect-section-title svg {
    width: 71.95px;
    height: 71.95px;
  }
  .footer-section-link {
    display: flex;
    padding: 8.165px 15.31px;
    align-items: center;
    gap: 8.165px;
    border-radius: 5.103px;
    background: #06c755;
    box-shadow: 0px 0px 10.207px 0px rgba(0, 0, 0, 0.3);
    max-width: 295px;
  }
  .line-app-svg-f svg {
    width: 27.558px;
    height: 27.558px;
  }
  .icon-next-f svg {
    width: 15px;
    height: 10px;
  }
  .link-title {
    font-size: 13px;
    font-weight: 800;
    line-height: 20.8px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: -10px;
  }
  .footer-section-link span {
    display: block;
  }
  .footer-section-link p {
    font-size: 20px;
    font-weight: 800;
    line-height: 28.96px;
    text-align: center;
  }
  .checklist span {
    display: block;
  }
  .footer-mob {
    width: 135px !important;
    height: auto;
  }
  .f-elips-1 {
    width: 287px;
    height: 287px;
    left: -58px;
    top: -33.141px;
    border: 30px solid #00a6c3;
  }
  .f-elips-2 {
    width: 287px;
    height: 287px;
    top: 200px;
    left: 230px;
  }
  .f-elips-4 {
    bottom: -150px;
    left: 211px;
  }
}

@media (max-width: 380px) {
  .footer-top img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

/* Footer end */
